<div id="bg">

  <div class="row">
    <nav class="navbar-expand-lg">
      <img src="../../../assets/eatMore.png" id="eatMore" alt="">
      <ul>
        <li><a href="#" routerLink="/dashbord">{{emailFromLogin}}</a></li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="col col-sm-12 col-md-2 col-lg-2">
      <div id="sideBar">
        <ul>
          <li><a (click)="viewSubmit()">View Items</a></li>
          <li><a (click)="addSubmit()">Add Item</a></li>
          <li><a (click)="deleteSubmit()">Delete Item</a></li>
          <li><a href="" routerLink="/myTest">Update Item</a></li>
          <li>Earnings Reports</li>
          <li>Settings</li>
          <li>Log Out</li>
        </ul>
      </div>
    </div>

    <div class="col col-sm-12 col-md-10 col-lg-10">
      <igx-card-media>
<!--        <img src="../../../assets/image4thRow.jpg" alt="">-->
      </igx-card-media>
    </div>

  </div>


</div>
<app-footer></app-footer>
