*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/*start navbar style*/
nav{
  width: 100%;
  height: 60px;
  background-color: #0001;
  line-height: 60px;
}

nav ul{
  float: right;
}

nav ul li a{
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 6mm;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.8s all;
}

nav ul li:hover{
  background-color: darkgreen ;

}


#eatMore{
  width: 250px;
  height: 60px;
  padding-left: 20px;
}

/*end navbar style*/


#sideBar{
  /*position: fixed;*/
  width: 200px;
  height: 100%;
  background: black;
  padding: 30px 0;
}
#sideBar ul li{
  color: rgba(230,230,230,0.9);
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

#sideBar ul li a{
  color: #bdb8d7;
  display: block;
}

#sideBar ul li a .fas{
  width: 25px;
}

#sideBar ul li:hover{
  background: #28a745;
}

#sideBar ul li:hover a{
  color: #fff;
}
/*=============================*/
#bg{
  background-image: url("../../../assets/bg14.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*===============================*/


igx-card-media{
  width: 100%;
  height: 50vh;
}
