<div id="bg" class="container">

  <!--navbar start-->
  <div class="row">
    <nav class="navbar-expand-lg">
      <img src="../../../assets/eatMore.png" id="eatMore" alt="">
      <ul>
        <li><a href="#" routerLink="/login">Sign in</a></li>
        <li><a href="#" routerLink="/signup">Create an Account</a></li>
      </ul>
    </nav>
  <!--navbar end-->

    <div id="div1" class="col col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div id="leftLetters">
           <h1><span id="letter1"></span></h1>
           <p id="letter2">Order favourite food from pastry shop near you</p>
        </div>
        <!--start search box-->
        <div id="cover">
          <form method="get" action="">
            <div class="tb">
              <div class="td"><input type="text" placeholder="Search" required></div>
              <div class="td" id="s-cover">
                <button id="searchBtn" type="submit">
                  <div id="s-circle"></div>
                  <span></span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <!--end search box-->
    </div>

    <div id="div2" class="col col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div id="div2.1">
          <img src="../../../assets/image005.png" alt="">
        </div>
    </div>

  </div>


</div>

<!--second row start-->
<!--<div class="row">-->
<!--  <div id="blank" class="container-fluid">-->
<!--    <p id="blankP">How it works</p>-->
<!--  </div>-->
<!--</div>-->
<!--second row end-->

<!--============================================-->
<!--3rd row start-->

<div class="row">
  <div class="col col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div>
      <section>
        <img src="../../../assets/image3rdRow.jpg" alt="">
        <article>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </article>
      </section>
    </div>
  </div>
  <div class="col col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <p id="p1">Anywhere you are</p>
    <p id="p1.1">Your date night at home.That late-night study session.A family picnic in the park.Spend more time
                  doing the things that matter to you most-we will take care  of the rest.</p>
    <p id="p1.2">Let's go    <i class="fas fa-long-arrow-alt-right"></i></p>
  </div>
</div>

<!--3rd row end-->

<!--4th row start-->
<div class="row"> 
  <div class="col col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <p id="p2">Satisfy your cravings</p>
      <p id="p2.1">Experience a world of food,with your favorite pastry shop at your fingertips.</p>
      <p id="p2.3">I'm ready to eat</p>
  </div>
  <div class="col col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div>
      <section>
        <img src="../../../assets/image4thRow.jpg" alt="">
        <article>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </article>
      </section>
    </div>
  </div>

</div>

<!--====================================================-->
<!--last row start-->
<!--last row end-->

<app-footer></app-footer>
