<div class="bg">
  <!--navbar start-->
  <div class="row">
    <nav class="navbar-expand-lg">
      <ul>
        <li><a href="#" >Home</a></li>
      </ul>
    </nav>
  </div>
  <!--  navbar end-->

  <div class="login-box">
    <h3>Pastry Shop Login</h3>
    <form [formGroup]="loginForm"  (ngSubmit)="loginFormSubmit()">

      <div class="form-group textBox">
        <i class="fas fa-user"></i>
        <input type="text" formControlName="email" placeholder="Enter email:" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group textBox">
        <i class="fas fa-lock"></i>
        <input type="password" formControlName="password" placeholder="Enter password:" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
<!--      <div class="form-group">-->
<!--        <label>Confirm Password</label>-->
<!--        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />-->
<!--        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">-->
<!--          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>-->
<!--          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="form-group">
        <button class="btn btn-primary">Login</button>
      </div>

    </form>
  </div>

</div>

